.additional {
  display: block;
  overflow: hidden;
}

.additional__container {
  padding-top: 25px;
  padding-bottom: 38px;
}

.additional__list {
  margin-bottom: 40px;
}

.additional__title {
  margin-bottom: 35px;
}

@media (min-width: $tablet-width) {
  .additional__container {
    padding-top: 67px;
    padding-bottom: 76px;
  }

  .additional__title {
    margin-bottom: 80px;
  }
}

@media (min-width: $desktop-width) {
  .additional__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .additional__list {
    width: 100%;
    margin-right: 80px;
  }
}
