.additional-product {
  padding-top: 15px;
  padding-bottom: 15px;
}

.additional-product__title {
  margin-bottom: 12px;
}

.additional-product__wrapper {
  margin-bottom: 15px;
}

@media (min-width: $tablet-width) {
  .additional-product {
    padding: 25px 35px;

    border: 1px solid rgba($border, 0.5);
  }

  .additional-product__wrapper {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  .additional-product__title {
    margin-bottom: 0;
  }

  .additional-product__table {
    width: 290px;
    margin-left: auto;
  }

  .additional-product__table .table__col {
    text-align: right;
  }

  .additional-product__table .table__col:last-child {
    width: 95px;
  }
}

@media (min-width: $desktop-width) {
  .additional-product {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px 0;

    border-right: none;
    border-left: none;
  }

  .additional-product__wrapper {
    width: 100%;
    margin: 0;
  }

  .additional-product__title {
    margin-right: auto;
  }

  .additional-product__table {
    margin-right: 40px;
  }

  .additional-product__button {
    width: 245px;
  }
}
