.additional__container {
  padding-top: 30px;
}

.additional__list {
  margin-bottom: 40px;
}

.additional__title {
  margin-bottom: 30px;
}

@media (min-width: $desctop-width) {
  .additional__wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
}
