.button {
  position: relative;

  display: block;
  padding: 0;

  font-size: 20px;
  line-height: 20px;
  font-family: $title-font;
  text-align: center;
  text-transform: uppercase;

  background: none;
  border: none;
  cursor: pointer;

  transition: all 0.3s;
}

.button--special {
  padding: 11px 0;

  font-size: 14px;
  line-height: 18px;
  color: $main-button-color;

  background: $main-button-bg;

  &:hover,
  &:focus {
    background: $main-button-bg--hover;
  }

  &:active {
    color: rgba($main-button-color, 0.3%);
  }
}

.button--other {
  padding: 12px 0;

  font-size: 16px;
  line-height: 20px;
  color: $other-button-color;

  background: $other-button-bg;

  &:hover,
  &:focus {
    background: $other-button-bg--hover;
  }

  &:active {
    color: rgba($other-button-color, 0.3%);
  }
}

.button--link {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: $button-link-color;

  &::after {
    content: "";
    right: 0;

    display: block;
    width: 34px;
    height: 12px;
    margin-left: 12px;

    background: url("../img/icon-right-arrow-verylong.svg") no-repeat;
    background-position: -9px;
    transition: all 0.3s;
  }

  &:hover,
  &:focus {
    &::after {
      background-position: 0;
    }
  }

  &:active {
    opacity: 0.3;
  }
}

.button--slider {
  padding: 5px 0;

  font-size: 16px;
  line-height: 20px;

  border-bottom: 1px dotted #d9d9d9;

  &:hover,
  &:focus {
    border-bottom: 1px solid rgba(#000000, 0.4%);
  }

  &:active {
    border: none;
  }
}

.button--submit {
  padding: 10px;

  font-size: 16px;
  line-height: 20px;
  color: $main-button-color;

  background: $main-button-bg;

  &:hover,
  &:focus {
    background: $main-button-bg--hover;
  }

  &:active {
    color: rgba($main-button-color, 0.3%);
  }
}

.button--special-catalog {
  padding: 9px 0;

  font-size: 16px;
  color: $main-button-color;

  background: $main-button-bg;

  &:hover,
  &:focus {
    background: $main-button-bg--hover;
  }

  &:active {
    color: rgba($main-button-color, 0.3%);
  }
}

@media (min-width: $tablet-width) {
  .button--special {
    padding: 16px 0;

    font-size: 20px;
    line-height: 20px;
  }

  .button--link {
    font-size: 20px;

    &::after {
      margin-left: 25px;
    }
  }

  .button--slider {
    font-size: 20px;
  }

  .button--submit {
    padding: 16px;

    font-size: 20px;
  }
}
