.catalog__container {
  padding-top: 14px;
}

.catalog__title {
  margin-bottom: 28px;
}

@media (min-width: $tablet-width) {
  .catalog__container {
    padding-top: 41px;
  }

  .catalog__title {
    margin-bottom: 165px;
  }

  .catalog__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin-right: -30px;
    margin-left: -30px;
  }

  .catalog__item {
    display: flex;
    flex: 0 0 50%;
    width: 50%;
    min-height: 431px;
    margin-bottom: 140px;
    padding-right: 30px;
    padding-left: 30px;

    border: none;

    &:last-child,
    &:nth-child(7) {
      margin-bottom: 0;
    }
  }
}

@media (min-width: $desktop-width) {
  .catalog__container {
    padding-top: 57px;
  }

  .catalog__list {
    margin-right: -40px;
    margin-left: -40px;
  }

  .catalog__item {
    flex: 0 0 25%;
    width: 25%;
    margin-bottom: 143px;
    padding-right: 40px;
    padding-left: 40px;

    &:nth-child(5) {
      margin-bottom: 0;
    }
    &:nth-child(6) {
      margin-bottom: 0;
    }
  }
}
