.checkbox {
  margin-bottom: 26px;
  color: $label-color;
  text-transform: uppercase;
}



.checkbox__label {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 50px;
}

.checkbox__label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $border;
}

input[type="checkbox"]:checked ~ .checkbox__label::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 5px;

  width: 22px;
  height: 17px;
  background-image: url("../img/icon-tick.svg");
  background-repeat: no-repeat;
}

input[type="checkbox"]:disabled ~ .checkbox__label {
  opacity: 0.3;
}

.checkbox:hover .checkbox__label::before,
.checkbox:focus .checkbox__label::before {
  border-color: #bababa;
}
