.creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 15px;

  border-top: 1px solid $border;

  &:active {
    opacity: 0.3;
  }
}

.creator:hover .creator__logo,
.creator:focus .creator__logo {
  fill: $special-color;
}

.creator__label {
  font-size: 16px;
  line-height: 16px;
}

.creator__logo {
  fill: #666666;
}

@media (min-width: $tablet-width) {
  .creator {
    border-top: 0;
  }

  .creator__label {
    padding-right: 15px;
  }
}
