.creator {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 18px;

  border-top: 1px solid $border;

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    padding-top: 0;

    border-top: 0;
  }
}

.creator:hover .creator__logo,
.creator:focus .creator__logo {
  fill: $special-color;
}

.creator__label {
  font-size: 16px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding-right: 10px;
  }
}

.creator__logo {
  position: relative;
  left: 5px;

  fill: #666666;
}
