.example {
  background: $other-bg;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  font-family: $title-font;
  text-align: center;
  color: $title-color;
  text-transform: uppercase;
}
