.example {
  background: $other-bg;
}

.example__container {
  padding-top: 16px;
  padding-bottom: 38px;
}

.example__text {
  margin-top: 23px;
  margin-bottom: 25px;
}
.example__cost {
  margin-top: 34px;
  margin-bottom: 34px;

  font-size: 14px;
  line-height: 20px;
  font-family: $title-font;
  text-align: center;
  color: $title-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background: $main-bg;
  }

  .example__container {
    padding-top: 42px;
  }

  .example__title {
    margin-bottom: 65px;
  }

  .example__text {
    font-size: 16px;
    line-height: 24px;
  }

  .example__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

  .example__cost {
    width: 192px;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }
}
