.example {
  background: $other-bg;
  position: relative;
}

.example__container {
  padding-top: 16px;
  padding-bottom: 38px;
}

.example__text {
  margin-top: 23px;
  margin-bottom: 25px;
}

.example__cost {
  margin-top: 34px;
  margin-bottom: 34px;

  font-size: 14px;
  line-height: 20px;
  font-family: $title-font;
  text-align: center;
  color: $title-color;
  text-transform: uppercase;
}

@media (min-width: $tablet-width) {
  .example {
    background: $main-bg;
    z-index: 1;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      left: 0;
      bottom: 0;
      height: 47%;
      background: linear-gradient(to right, #f2f2f2 50%, #eaeaea 50%);
      z-index: -1;
    }
  }

  .example__container {
    padding-top: 42px;
  }

  .example__title {
    margin-bottom: 65px;
  }

  .example__text {
    margin-bottom: 52px;

    font-size: 16px;
    line-height: 24px;
  }

  .example__results {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 72px;
  }

  .example__cost {
    width: 192px;
    margin: 0;
    margin-top: 10px;

    font-size: 20px;
    line-height: 28px;
    text-align: right;
  }
}

@media (min-width: $desktop-width) {
  .example {
    &::after {
      height: 75%;
      background: linear-gradient(to right, #f2f2f2 67.5%, #eaeaea 32.5%);
    }
  }

  .example__container {
    display: flex;
    justify-content: space-between;
  }

  .example__wrapper {
    width: 470px;
  }

  .example__title {
    margin-bottom: 140px;
  }

  .example__results {
    flex-direction: column;
    margin-bottom: 0;
  }

  .example__cost {
    width: 100%;
    margin-top: 50px;

    text-align: left;
  }

  .example__cost span {
    padding-left: 65px;
  }
}
