.form-group {
  margin: 0;
  padding: 20px;

  border: none;
}

.form-group__title {
  margin-bottom: 30px;
}

.form-group__list {
  @include list-reset();
}

.form-group__item {
  margin-bottom: 13px;
}
