.form-main {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
}

.form-main__container {
  padding: 0;
}

.form-main__title {
  margin-bottom: 30px;
  padding: 0 20px;
}

.form-main__subtitle {
  text-transform: uppercase;
  margin-bottom: 35px;
  padding: 0 20px;
}
