.form-main {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
}

.form-main__container {
  padding-top: 14px;

  @media (min-width: $tablet-width) {
    padding-top: 41px;
    padding-bottom: 48px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 57px;
    padding-bottom: 53px;
  }
}

.form-main__title {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }
}

.form-main__subtitle {
  width: 250px;
  margin-bottom: 17px;

  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 55%;
    padding-left: 40px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    width: 30%;
    padding-left: 0;
  }
}

.form-main__form {
  margin-right: -20px;
  margin-left: -20px;

  @media (min-width: $tablet-width) {
    padding-top: 28px;
    padding-right: 55px;
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-left: 0;
    padding-right: 0;
    padding-left: 0;
  }
}
