.icon {
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
}

.icon--circle {
  width: 50px;
  height: 50px;

  background-color: $special-color;
  border-radius: 50%;
}

.icon--square {
  width: 60px;
  height: 60px;

  background-color: $special-color;
  background-repeat: no-repeat;
  background-position: center center;

  &-leaf {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &-powder {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &-dining {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &-clock {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

.icon--social svg {
  fill: #666666;

  &:hover,
  &:focus {
    fill: $special-color;
  }

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: $tablet-width) {
  .icon--square {
    width: 80px;
    height: 80px;
  }

  .icon__item {
    position: relative;
  }

  .icon__item--slim {
    top: -15px;

    width: 141px;
    height: 194px;
  }

  .icon__item--pro {
    width: 268px;
    height: 113px;
  }

  .icon--social-vk svg {
    width: 30px;
    height: 16px;
  }

  .icon--social-inst svg {
    width: 23px;
    height: 23px;
  }

  .icon--social-fb svg {
    width: 14px;
    height: 28px;
  }
}

@media (min-width: $desktop-width) {
  .icon__item--slim {
    width: 71px;
    height: 97px;
  }

  .icon__item--pro {
    width: 134px;
    height: 57px;
  }
}
