.input {
  position: relative;

  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;
  color: $label-color;
}

.input__text {
  width: 100%;
  margin-left: 15px;
  padding: 13px 16px 14px;

  font: inherit;
  color: $main-text-color;

  border: 1px solid $input-color;

  &:hover {
    border: 1px solid $input-color--hover;
  }

  &:focus,
  &:active {
    border: 1px solid $input-color--active;
  }

  &:invalid {
    border: 1px solid $input-color--error;
  }
}

.input__text:invalid + .input__icon {
  fill: $input-color--error;
}

.input__text:focus + .input__icon {
  fill: $special-color;
}

.input__icon {
  position: absolute;
  z-index: 5;
  right: 15px;
}

.input__icon--email {
  width: 18px;
  height: 14px;
}

.input__icon--phone {
  width: 21px;
  height: 21px;
}

.input__text--area {
  height: 150px;
  margin: 0;

  resize: none;
}
