.instruction {
  @media (min-width: $tablet-width) {
    border-bottom: 1px solid $other-bg;
  }

  @media (min-width: $desktop-width) {
    border: none;
  }
}

.instruction__container {
  padding-bottom: 46px;

  @media (min-width: $tablet-width) {
    padding-top: 18px;
    padding-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 51px;
    padding-bottom: 40px;
  }
}

.instruction__title {
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    margin-bottom: 52px;
  }
}

.instruction__list {
  @include list-reset();

  @media (min-width: $tablet-width) {
    display: flex;
    flex-flow: row wrap;
    margin-right: -30px;
    margin-left: -30px;

    counter-reset: section;
  }

  @media (min-width: $desktop-width) {
    margin-right: -40px;
    margin-left: -40px;
  }
}

.instruction__item {
  position: relative;

  display: flex;
  align-items: center;
  margin-bottom: 26px;

  &:last-child {
    margin-bottom: 0;
  }

  &::before {
    content: "";
    position: absolute;

    width: 60px;
    height: 60px;

    background-color: $special-color;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50px auto;
  }

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    &::before {
      background-size: 50px auto;
    }
  }

  @media (min-width: $tablet-width) {
    display: block;
    flex: 0 0 50%;
    width: 50%;
    min-height: 230px;
    margin-top: 20px;
    margin-bottom: 67px;
    padding-right: 30px;
    padding-left: 30px;

    &:nth-last-child(-n+2) {
      margin-bottom: 0;
    }

    &::before {
      top: 0;

      width: 80px;
      height: 80px;
    }

    &::after {
      content: counter(section);
      position: absolute;
      top: -15px;
      left: 146px;

      font-size: 281px;
      line-height: 230px;
      font-family: $title-font;
      color: $other-bg;

      counter-increment: section;
    }
  }

  @media (min-width: 950px) {
    max-width: 310px;
  }

  @media (min-width: $desktop-width) {
    flex: 0 0 25%;
    max-width: 25%;
    margin-bottom: 0;
    padding-right: 40px;
    padding-left: 40px;

    &::after {
      left: 150px;
    }
  }
}

.instruction__item--leaf {
  &::before {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
    }
  }
}

.instruction__item--powder {
  &::before {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-powder@2x.png");
    }
  }
}

.instruction__item--dining {
  &::before {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-dining@2x.png");
    }
  }
}

.instruction__item--clock {
  &::before {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/advantage-clock@2x.png");
    }
  }
}

.instruction__text {
  position: relative;
  z-index: 1;

  margin: 0;
  padding-left: 80px;

  @media (min-width: $tablet-width) {
    max-width: 250px;
    padding-top: 112px;
    padding-left: 0;
  }
}
