.nav {
  position: relative;
  z-index: 1;

  width: 100%;

  font-family: $title-font;
  color: $menu-color;
}

.nav__burger {
  position: absolute;
  top: -34px;
  right: 0;
}

.nav__list {
  display: none;
  height: 0;
  overflow: hidden;

  transform: translateY(-200px);

  transition: all 0.5s;

  @include list-reset();

  &--open {
    display: block;
    height: auto;

    transform: translateY(0);
  }
}

.nav__item {
  text-align: center;

  border-top: 1px solid lightgrey;
}

.nav__link {
  display: block;
  padding: 22px 0;

  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}

.nav__item:last-child .nav__link {
  padding-bottom: 12px;
}

@media (min-width: $tablet-width) {
  .nav {
    width: auto;
    min-width: 440px;

    color: $label-color;
  }

  .nav__burger {
    display: none;
  }

  .nav__list {
    display: flex;
    justify-content: space-between;
    height: auto;

    transform: translateY(0);
  }

  .nav__item {
    border: none;
  }

  .nav__link {
    font-size: 18px;
    line-height: 25px;

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }

  .nav__link--active {
    padding-bottom: 7px;

    border-bottom: 2px solid $special-color;
  }
}

@media (min-width: $desktop-width) {
  .nav--onbg {
    color: $menu-color--onbg;
  }

  .nav__item {
    margin-left: 35px;
  }

  .nav__link {
    font-size: 20px;
    line-height: 25px;
  }

  .nav--onbg .nav__link--active {
    border-bottom: 2px solid $menu-color--onbg;
  }
}
