.nav {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: $menu-color;
}
.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.nav__item {
  text-align: center;
  border-top: 1px solid lightgrey;
}
.nav__link {
  display: block;
  padding: 22px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
}
