.page-footer--gray {
  background: $other-bg;
}

.page-footer__top {
  display: flex;
  justify-content: space-between;
  margin-right: -20px;
  margin-left: -20px;
  padding-top: 10px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
}

.page-footer__top--gray {
  background-color: $other-bg;
}

.page-footer__bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.page-footer__text {
  margin-right: 25px;

  font-size: 16px;
  line-height: 20px;
  font-family: $title-font;
  color: $title-color;
  text-transform: uppercase;
}

.page-footer__addr {
  line-height: 20px;
}

.page-footer__logo {
  width: 100%;
  margin: 0 auto;
  padding-top: 37px;
  padding-bottom: 27px;

  text-align: center;

  border-bottom: 1px solid $border;
}

@media (min-width: $tablet-width) {
  .page-footer__top {
    margin-right: -30px;
    margin-left: -30px;
    padding-top: 65px;
    padding-right: 72px;
    padding-bottom: 55px;
    padding-left: 72px;
  }

  .page-footer__text {
    width: 155px;
    margin: 0;

    line-height: 25px;
  }

  .page-footer__addr {
    display: flex;
    flex-direction: column;
    width: 155px;
    margin: 0;

    text-align: right;
  }

  .page-footer__addr span {
    margin-top: 20px;
  }

  .page-footer__bottom {
    flex-direction: row;
    padding-top: 24px;
  }

  .page-footer__logo {
    width: auto;
    margin: 0;

    border-bottom: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    position: relative;
  }

  .page-footer__top {
    position: absolute;
    top: 100px;
    left: 140px;
    z-index: 9999;

    min-width: 570px;
    padding-right: 88px;
    padding-left: 75px;

    background-color: $main-bg;
  }

  .page-footer__text {
    font-size: 20px;
  }

  .page-footer__addr {
    text-align: left;
  }

  .page-footer__bottom {
    padding-top: 32px;
    padding-bottom: 32px;
  }
}
