.page-main__container {
  position: relative;

  padding-top: 26px;
  padding-bottom: 22px;
}

.page-main__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 480px;

  font-family: $title-font;
  text-align: center;
  color: #ffffff;

  background: url("../img/index-background-mobile@1x.jpg") no-repeat top;
  background-size: 100% auto;
}

.page-main__title {
  margin: 0;
  margin-bottom: 24px;

  font-size: 36px;
  line-height: 36px;
}

.page-main__subtitle {
  margin-bottom: 26px;

  text-transform: uppercase;
}

.page-main__image {
  position: absolute;

  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto 4px;
}


@media (min-width: $tablet-width) {
  .page-main__header {
    min-height: 860px;

    text-align: left;
    color: $title-color;

    background: none;
  }

  .page-main__title {
    width: 60%;

    font-size: 60px;
    line-height: 60px;
  }

  .page-main__subtitle {
    font-size: 20px;
    line-height: 20px;
  }

  .page-main__image {
    display: block;
    width: 709px;
    height: 609px;
    margin: 0 auto 4px;
  }
}
