.page-footer--gray {
  background: $other-bg;
}

.page-footer__container {
  display: flex;
  justify-content: space-between;
}

.page-footer__top .page-footer__container {
  padding-top: 10px;
}

.page-footer__bottom .page-footer__container {
  flex-direction: column;
  padding-top: 22px;
  padding-bottom: 22px;
}

.page-footer__text {
  margin-right: 25px;
  font-size: 16px;
  line-height: 20px;
  font-family: $title-font;
  color: $title-color;
  text-transform: uppercase;
}

.page-footer__addr {
  line-height: 20px;
}

.page-footer__logo {
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 27px;
  border-bottom: 1px solid $border;
}
