.product {
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    position: relative;

    width: 100%;
    max-width: 324px;
    padding: 144px 38px 40px 38px;

    background-color: $other-bg;
  }
}

.product__wrapper {
  display: flex;
}

.product__image {
  width: 140px;
  height: 144px;

  @media (min-width: $tablet-width) {
    position: absolute;
    left: 50%;

    width: 100%;
    height: auto;

    transform: translateX(-50%);

    &--small {
      top: -50px;
    }

    &--big {
      top: -80px;
    }
  }
}

.product__desc {
  width: 100%;
}

.product__title {
  width: 80px;
  margin-bottom: 12px;
  padding-top: 22px;

  @media (min-width: $tablet-width) {
    width: 135px;
    margin: 0 auto 17px;

    text-align: center;
  }
}

.product__table {
  @media (min-width: $tablet-width) {
    margin-bottom: 31px;
  }
}
