.product {
  padding-bottom: 20px;
}

.product__wrapper {
  display: flex;
}

.product__image {
  width: 140px;
  height: 144px;
}

.product__desc {
  width: 100%;
}

.product__title {
  width: 80px;
  margin-bottom: 12px;
  padding-top: 20px;
}

.product__table {
  margin-bottom: 23px;
}

@media (min-width: $tablet-width) {
  .product {
    position: relative;

    width: 100%;
    max-width: 324px;
    padding: 144px 38px 40px 38px;

    background-color: $other-bg;
  }

  .product__image {
    position: absolute;
    left: 50%;

    width: 100%;
    height: auto;

    transform: translateX(-50%);
  }

  .product__image--small {
    top: -50px;
  }

  .product__image--big {
    top: -80px;
  }

  .product__title {
    width: 135px;
    margin: 0 auto 17px;

    text-align: center;
  }

  .product__table {
    margin-bottom: 31px;
  }
}
