.product-more {
  min-height: 210px;
  padding-top: 25px;

  text-align: center;
}

.product-more__title {
  position: relative;

  margin-bottom: 7px;
  padding-top: 55px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 31px;
    height: 31px;

    background: url("../img/icon-plus-mobile.svg") no-repeat center center;
    transform: translateX(-50%);
  }
}

.product-more__subtitle {
  display: block;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .product-more {
    display: flex;
    width: 100%;
    padding: 55px 37px 40px;

    border: 1px solid $border;
  }

  .product-more__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .product-more__title {
    width: 135px;
    margin-right: auto;
    margin-bottom: 28px;
    margin-left: auto;
    padding-top: 115px;


    &::before {
      width: 61px;
      height: 61px;

      opacity: 0.2;
    }
  }

  .product-more__subtitle {
    width: 170px;
    margin: 0 auto;

    font-size: 16px;
  }

  .product-more__button {
    margin-top: auto;
  }
}
