.programs__container {
  padding-top: 11px;
}

.programs__list {
  @include list-reset();
}

@media (min-width: $tablet-width) {
  .programs__container {
    padding-top: 0;
  }
}

@media (min-width: $desktop-width) {
  .programs__container {
    padding-top: 80px;
  }

  .programs__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  .programs__item {
    width: 570px;
  }
}
