.promo {
  min-height: 289px;
  padding: 65px 55px 40px;

  background: $special-color url("../img/gift-photo-mobile@1x.jpg") no-repeat top center / cover;
}

.promo__text {
  position: relative;

  margin: 0;
  padding-top: 120px;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;

    width: 56px;
    height: 61px;

    background: url("../../img/icon-gift.svg") no-repeat center center;
    transform: translateX(-50%);
  }
}
