.promo {
  background: $special-color url("../img/gift-photo-mobile@1x.jpg") no-repeat top center / cover;
}

.promo__text {
  position: relative;

  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff;

  &::before {
    content: "";
    position: absolute;

    width: 56px;
    height: 61px;

    background: url("../../img/icon-gift.svg") no-repeat center center;
  }
}
