.radio {
  margin-bottom: 26px;
  font-size: 16px;
  color: $label-color;
  text-transform: uppercase;
}

.radio__label {
  position: relative;

  display: flex;
  align-items: center;
  padding-left: 50px;
}

.radio__label::before {
  content: "";
  position: absolute;
  left: 0;

  width: 30px;
  height: 30px;

  border: 1px solid $border;
  border-radius: 50%;
}

input[type="radio"]:checked ~ .radio__label::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 3%;

  width: 12px;
  height: 12px;

  border: 6px solid $special-color;
  border-radius: 50%;
  transform: rotate(45deg);
}

input[type="radio"]:disabled ~ .radio__label {
  opacity: 0.3;
}

.radio:hover .radio__label::before,
.radio:focus .radio__label::before {
  border-color: #bababa;
}
