.results {
  @include list-reset();
}

.results__item {
  border: 1px solid $border;
}

.results__value {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: $title-color;
  text-transform: uppercase;
}

.results__desc-value {
  display: block;
  width: 87px;

  font-size: 12px;
  line-height: 12px;
}
