.slider__wrapper {
  position: relative;
  display: flex;

  height: 232px;
  margin-bottom: 40px;
}

.slider__image {
  position: absolute;

  background-repeat: no-repeat;
}

.slider__nav {
  display: flex;
}

.slider__button--prev {
  margin-left: auto;
}

.slider__button--next {
  margin-right: auto;
}

.slider__range {
  align-self: center;
  width: 84px;
  height: 14px;
  margin-right: 18px;
  margin-left: 18px;
  padding: 3px 5px;

  background: $main-bg;
  border: 1px solid $border;
  border-radius: 6px;
}

.slider__progress {
  width: 40%;
  height: 100%;

  background-color: $special-color;
  border-radius: 3px;
}

@media (min-width: $tablet-width) {

}
