.social {
  @include list-reset();
  display: flex;
  align-items: center;
  width: 130px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    margin-right: 0;
    margin-left: 40px;
  }
}

.social__item {
  margin-right: 37px;

  &:last-child {
    margin-right: 0;
  }

  @media (min-width: $tablet-width) {
    margin-right: 28px;
  }
}
