.table {
  width: 100%;

  border-collapse: collapse;
}

.table--product {
  font-size: 12px;
  line-height: 15px;
}

.table--additional {
  font-size: 14px;
  line-height: 14px;
}

.table__col:first-child {
  text-align: left;
}

.table__col:last-child {
  text-align: right;
}

@media (min-width: $tablet-width) {
  .table--product {
    font-size: 16px;
  }

  .table--product .table__col {
    padding: 8px 0;

    border-bottom: 1px solid $border;
  }

  .table--additional {
    font-size: 16px;
    line-height: 20px;
    margin-top: 2px;
  }
}
