.table {
  width: 100%;
}

.table--product {
  font-size: 12px;
  line-height: 16px;
}

.table--additional {
  font-size: 14px;
  line-height: 14px;
}

.table__col:first-child {
  text-align: left;
}

.table__col:last-child {
  text-align: right;
}
