.title {
  margin: 0;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: $title-color;
  font-weight: normal;
}

.title--section {
  font-size: 36px;
  line-height: 60px;
}

.title--card {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.title--additional {
  font-size: 16px;
  line-height: 16px;
  color: $label-color;
  text-transform: uppercase;
}

.title--special {
  position: relative;

  font-size: 24px;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 3px;

    background: $special-color;
  }
}

.title--legend {
  position: relative;
  font-size: 24px;
  line-height: 24px;
  display: flex;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    display: block;
    width: 100vw;
    height: 5px;
    margin-left: 22px;
    background: $special-color;
  }
}

.title--legend span {
  display: inline-block;
  background: #ffffff;
  z-index: 1;
  padding-right: 22px;
}
