.title {
  margin: 0;

  font-weight: normal;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: $title-color;
}

.title--section {
  font-size: 36px;
  line-height: 60px;
}

.title--card {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.title--additional {
  font-size: 16px;
  line-height: 16px;
  color: $label-color;
  text-transform: uppercase;
}

.title--special {
  position: relative;

  display: flex;
  flex-shrink: 0;
  align-items: center;

  font-size: 24px;
  line-height: 24px;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;

    width: 100vw;
    height: 3px;
    margin-top: 3px;

    background: $special-color;
  }

  &::before {
    display: none;
  }
}

.title--special span {
  position: relative;
  z-index: 1;

  display: inline-block;
  padding-right: 20px;

  vertical-align: middle;

  background: $main-bg;
}

@media (min-width: $tablet-width) {
  .title--section {
    font-size: 60px;
  }

  .title--card {
    font-size: 20px;
  }

  .title--additional {
    font-size: 20px;
    line-height: 20px;
  }

  .title--special {
    font-size: 36px;
    line-height: 36px;

    &::before {
      right: 0;

      display: block;
    }
  }

  .title--special span {
    padding-right: 35px;
    padding-left: 30px;
  }
}

@media (min-width: $desktop-width) {
  .title--special span {
    padding-left: 40px;
  }
}
