.title {
  margin: 0;

  font-weight: normal;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: $title-color;
}

.title--section {
  font-size: 36px;
  line-height: 60px;
}

.title--card {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.title--additional {
  font-size: 16px;
  line-height: 16px;
  color: $label-color;
  text-transform: uppercase;
}

.title--special {
  position: relative;

  font-size: 24px;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;

    width: 100%;
    height: 3px;

    background: $special-color;
  }
}

.title--legend {
  position: relative;

  display: flex;
  align-items: center;

  font-size: 24px;
  line-height: 24px;

  &::after {
    content: "";
    position: absolute;

    display: block;
    width: 100vw;
    height: 5px;
    margin-left: 22px;

    background: $special-color;
  }
}

.title--legend span {
  z-index: 1;

  display: inline-block;
  padding-right: 22px;

  background: #ffffff;
}

@media (min-width: $tablet-width) {
  .title--section {
    font-size: 60px;
  }

  .title--card {
    font-size: 20px;
  }

  .title--additional {
    font-size: 20px;
    line-height: 20px;
  }

  .title--legend {
    font-size: 36px;
    line-height: 36px;
  }
}
