@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";
  src: url("../fonts/oswaldregular.woff2"), url("../fonts/oswaldregular.woff") format("woff"); }

.container {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px; }

@media (min-width: 768px) {
  .container {
    min-width: 768px;
    padding-right: 30px;
    padding-left: 30px; } }

@media (min-width: 1300px) {
  .container {
    max-width: 1300px;
    margin: 0 auto;
    padding-right: 40px;
    padding-left: 40px; } }

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit; }

html,
body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", "Helvetica", sans-serif;
  color: #444444;
  background-color: #ffffff; }

a {
  color: inherit;
  text-decoration: none; }

.visual-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

@media (min-width: 768px) {
  html,
  body {
    font-size: 16px;
    line-height: 24px; } }

.title {
  margin: 0;
  font-weight: normal;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: #111111; }

.title--section {
  font-size: 36px;
  line-height: 60px; }

.title--card {
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase; }

.title--additional {
  font-size: 16px;
  line-height: 16px;
  color: #222222;
  text-transform: uppercase; }

.title--special {
  position: relative;
  font-size: 24px;
  line-height: 24px; }
  .title--special::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    background: #68b738; }

.title--legend {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 24px;
  line-height: 24px; }
  .title--legend::after {
    content: "";
    position: absolute;
    display: block;
    width: 100vw;
    height: 5px;
    margin-left: 22px;
    background: #68b738; }

.title--legend span {
  z-index: 1;
  display: inline-block;
  padding-right: 22px;
  background: #ffffff; }

@media (min-width: 768px) {
  .title--section {
    font-size: 60px; }
  .title--card {
    font-size: 20px; }
  .title--additional {
    font-size: 20px;
    line-height: 20px; } }

.button {
  position: relative;
  display: block;
  font-size: 20px;
  line-height: 20px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  text-align: center;
  text-transform: uppercase;
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }

.button--special {
  padding: 11px 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background: #68b738; }
  .button--special:hover, .button--special:focus {
    background: #5eaa2f; }
  .button--special:active {
    color: rgba(255, 255, 255, 0.3); }

.button--other {
  padding: 12px 0;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  background: #f2f2f2; }
  .button--other:hover, .button--other:focus {
    background: #ebebeb; }
  .button--other:active {
    color: rgba(68, 68, 68, 0.3); }

.button--link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 16px;
  text-align: left;
  color: #111111; }
  .button--link::after {
    content: "";
    right: 0;
    display: block;
    width: 25px;
    height: 12px;
    margin-left: 9px;
    background: url("../img/icon-right-arrow-long.svg") no-repeat; }
  .button--link:hover::after, .button--link:focus::after {
    width: 34px;
    background: url("../img/icon-right-arrow-verylong.svg") no-repeat; }
  .button--link:active {
    opacity: 0.3; }

.button--slider {
  font-size: 16px;
  line-height: 20px; }
  .button--slider:hover, .button--slider:focus {
    border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  .button--slider:active {
    border: none; }

@media (min-width: 768px) {
  .button--special {
    padding: 16px 0;
    font-size: 20px;
    line-height: 20px; }
  .button--special-catalog {
    padding: 10px 0;
    font-size: 16px; }
  .button--link {
    font-size: 20px;
    line-height: 20px; }
  .button--slider {
    font-size: 20px;
    line-height: 20px; } }

.icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.icon--circle {
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%; }

.icon--square {
  width: 60px;
  height: 60px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center center; }
  .icon--square-leaf {
    background-image: url("../img/advantage-leaf@1x.png"); }
  .icon--square-powder {
    background-image: url("../img/advantage-powder@1x.png"); }
  .icon--square-dining {
    background-image: url("../img/advantage-dining@1x.png"); }
  .icon--square-clock {
    background-image: url("../img/advantage-clock@1x.png"); }

.icon--social svg {
  fill: #666666; }
  .icon--social svg:hover, .icon--social svg:focus {
    fill: #68b738; }
  .icon--social svg:active {
    opacity: 0.3; }

@media (min-width: 768px) {
  .icon--square {
    width: 80px;
    height: 80px; } }

.page-header {
  border-bottom: 1px solid #cdcdcd; }

.page-header--preview::after {
  content: "";
  position: absolute;
  width: 100%;
  min-height: 305px;
  background-color: #63a73a;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-position: bottom; }

.page-header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 13px;
  padding-bottom: 10px; }

.page-header__logo:hover, .page-header__logo:focus {
  opacity: 0.8; }

.page-header__logo:active {
  opacity: 0.6; }

@media (min-width: 768px) {
  .page-header {
    border-bottom: 0; }
  .page-header--preview::after {
    background: none; }
  .page-header__container {
    padding-top: 20px; } }

@media (min-width: 1300px) {
  .page-header--preview::after {
    top: 0;
    right: 0;
    width: 50%;
    height: 696px;
    background-color: #63a73a;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-repeat: no-repeat;
    background-position: right; } }

.logo--header {
  width: 191px;
  height: 39px; }
  @media (min-width: 768px) {
    .logo--header {
      width: 174px;
      height: 59px; } }
  @media (min-width: 1300px) {
    .logo--header {
      width: 203px;
      height: 60px; } }

.nav {
  position: relative;
  z-index: 1;
  width: 100%;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: #111111; }

.nav__burger {
  position: absolute;
  top: -34px;
  right: 0; }

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  height: 0;
  overflow: hidden;
  -webkit-transform: translateY(-200px);
          transform: translateY(-200px);
  -webkit-transition: all 0.5s;
  transition: all 0.5s; }
  .nav__list--open {
    display: block;
    height: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0); }

.nav__item {
  text-align: center;
  border-top: 1px solid lightgrey; }

.nav__link {
  display: block;
  padding: 22px 0;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .nav {
    width: auto;
    min-width: 440px;
    color: #222222; }
  .nav__burger {
    display: none; }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    height: auto;
    -webkit-transform: translateY(0);
            transform: translateY(0); }
  .nav__item {
    border: none; }
  .nav__link {
    font-size: 18px;
    line-height: 25px; }
    .nav__link:hover, .nav__link:focus {
      opacity: 0.6; }
    .nav__link:active {
      opacity: 0.3; }
  .nav__link--active {
    padding-bottom: 7px;
    border-bottom: 2px solid #68b738; } }

@media (min-width: 1300px) {
  .nav--onbg {
    color: #ffffff; }
  .nav__link {
    font-size: 20px;
    line-height: 25px; }
  .nav--onbg .nav__link--active {
    border-bottom: 2px solid #ffffff; } }

.burger {
  width: 25px;
  height: 19px;
  padding: 0;
  background: none;
  border: none; }

.burger__line {
  position: relative;
  display: block;
  width: 100%;
  height: 2px;
  background: #222222; }
  .burger__line::before, .burger__line::after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #222222; }
  .burger__line::before {
    top: 7px; }
  .burger__line::after {
    bottom: 7px; }

.page-footer--gray {
  background: #f2f2f2; }

.page-footer__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 30px; }

.page-footer__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 22px;
  padding-bottom: 22px; }

.page-footer__text {
  margin-right: 25px;
  font-size: 16px;
  line-height: 20px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: #111111;
  text-transform: uppercase; }

.page-footer__addr {
  line-height: 20px; }

.page-footer__logo {
  width: 100%;
  margin: 0 auto;
  padding-top: 26px;
  padding-bottom: 27px;
  text-align: center;
  border-bottom: 1px solid #cdcdcd; }

@media (min-width: 768px) {
  .page-footer__top {
    padding-top: 60px;
    padding-bottom: 60px; }
  .page-footer__text {
    width: 155px;
    margin: 0;
    line-height: 25px; }
  .page-footer__addr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 155px;
    margin: 0;
    text-align: right; }
  .page-footer__addr span {
    margin-top: 20px; }
  .page-footer__bottom {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .page-footer__logo {
    width: auto;
    margin: 0;
    border-bottom: 0; } }

@media (min-width: 1300px) {
  .page-footer {
    position: relative; }
  .page-footer__top {
    position: absolute;
    top: 90px;
    z-index: 9999;
    min-width: 570px;
    padding-right: 75px;
    padding-left: 75px;
    background-color: #ffffff; } }

.map {
  width: 100%;
  min-height: 362px;
  background: url("../img/bg-map-mobile@1x.png") no-repeat top center/cover; }

.social {
  margin: 0;
  padding: 0;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 130px;
  margin: 0 auto;
  padding-top: 22px;
  padding-bottom: 22px; }

.social__item {
  margin-right: 37px; }
  .social__item:last-child {
    margin-right: 0; }

.creator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 15px;
  border-top: 1px solid #cdcdcd; }
  .creator:active {
    opacity: 0.3; }

.creator:hover .creator__logo,
.creator:focus .creator__logo {
  fill: #68b738; }

.creator__label {
  font-size: 16px;
  line-height: 16px; }

.creator__logo {
  fill: #666666; }

@media (min-width: 768px) {
  .creator {
    border-top: 0; }
  .creator__label {
    padding-right: 15px; } }

.page-main__container {
  position: relative;
  padding-top: 26px;
  padding-bottom: 11px; }

.page-main__header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #ffffff; }

.page-main__title {
  margin: 0;
  margin-bottom: 24px;
  font-size: 36px;
  line-height: 36px; }

.page-main__subtitle {
  margin-bottom: 29px;
  text-transform: uppercase; }

.page-main__image {
  display: block;
  width: 280px;
  height: 270px;
  margin: 0 auto 1px; }

@media (min-width: 768px) {
  .page-main__container {
    padding-top: 41px;
    padding-left: 120px; }
  .page-main__header {
    min-height: 860px;
    text-align: left;
    color: #111111; }
  .page-main__title {
    width: 75%;
    margin-bottom: 41px;
    font-size: 60px;
    line-height: 60px; }
  .page-main__subtitle {
    margin-bottom: 48px;
    font-size: 20px;
    line-height: 20px; }
  .page-main__image {
    position: absolute;
    top: 242px;
    right: 28px;
    display: block;
    width: 709px;
    height: 609px;
    margin: 0 auto 4px; }
  .page-main__button {
    width: 245px; } }

@media (min-width: 1300px) {
  .page-main__container {
    padding-left: 40px; }
  .page-main__header {
    min-height: 597px; }
  .page-main__title {
    width: 50%; }
  .page-main__image {
    top: 0;
    right: 17.5%;
    width: 552px;
    height: 499px; } }

.programs__container {
  padding-top: 11px; }

.programs__list {
  margin: 0;
  padding: 0;
  list-style: none; }

@media (min-width: 768px) {
  .programs__container {
    padding-top: 0; } }

@media (min-width: 1300px) {
  .programs__container {
    padding-top: 80px; }
  .programs__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .programs__item {
    width: 570px; } }

.program {
  position: relative;
  margin-bottom: 19px;
  padding: 30px 22px 0;
  background: #f2f2f2; }

.program__title {
  margin-bottom: 30px;
  padding-left: 70px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase; }

.program__icon {
  position: absolute;
  top: 21px; }

.program__text {
  margin: 0;
  padding-bottom: 22px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.program__link {
  padding: 20px 0; }

@media (min-width: 768px) {
  .program {
    margin-bottom: 30px;
    padding: 68px 62px 40px 55px; }
  .program--pro {
    padding-top: 77px; }
  .program__title {
    margin-bottom: 25px;
    padding: 0;
    font-size: 36px;
    line-height: 37px; }
  .program__text {
    width: 340px;
    margin-bottom: 14px;
    font-size: 16px;
    line-height: 24px;
    border: none; }
  .program__icon {
    top: 92px;
    right: 62px;
    width: 200px;
    height: 200px; }
  .icon__item--slim {
    width: 141px;
    height: 194px; }
  .icon__item--pro {
    width: 268px;
    height: 113px; } }

@media (min-width: 1300px) {
  .program__icon {
    top: 45px;
    left: 50px;
    width: 100px;
    height: 100px; }
  .icon__item--slim {
    width: 71px;
    height: 97px; }
  .icon__item--pro {
    width: 134px;
    height: 57px; }
  .program__title {
    margin-bottom: 75px;
    padding-left: 150px; } }

.instruction__container {
  padding-bottom: 42px; }

.instruction__title {
  margin-bottom: 27px; }

.instruction__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.instruction__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 20px; }
  .instruction__item:last-child {
    margin-bottom: 0; }

.instruction__icon {
  -webkit-box-flex: 0;
      -ms-flex: 0 60px;
          flex: 0 60px;
  margin-right: 20px; }

.instruction__text {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 1;
      -ms-flex: 1 200px;
          flex: 1 200px;
  margin: 0; }

@media (min-width: 768px) {
  .instruction {
    border-bottom: 1px solid #f2f2f2; }
  .instruction__container {
    padding-top: 17px;
    padding-bottom: 55px; }
  .instruction__title {
    margin-bottom: 72px; }
  .instruction__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    counter-reset: section; }
  .instruction__item {
    position: relative;
    display: block;
    -ms-flex-preferred-size: 250px;
        flex-basis: 250px;
    min-height: 230px;
    margin-bottom: 89px; }
    .instruction__item::after {
      content: counter(section);
      position: absolute;
      top: -15px;
      right: 0;
      font-size: 281px;
      line-height: 230px;
      font-family: "Oswald", "Arial", "Helvetica", sans-serif;
      color: #f2f2f2;
      counter-increment: section; }
  .instruction__icon {
    margin-bottom: 33px; }
  .instruction__text {
    width: 250px;
    font-size: 16px;
    line-height: 24px; } }

.example {
  background: #f2f2f2; }

.example__container {
  padding-top: 16px;
  padding-bottom: 38px; }

.example__text {
  margin-top: 23px;
  margin-bottom: 25px; }

.example__cost {
  margin-top: 34px;
  margin-bottom: 34px;
  font-size: 14px;
  line-height: 20px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  text-align: center;
  color: #111111;
  text-transform: uppercase; }

@media (min-width: 768px) {
  .example {
    background: #ffffff; }
  .example__container {
    padding-top: 42px; }
  .example__title {
    margin-bottom: 65px; }
  .example__text {
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px; }
  .example__results {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-bottom: 72px; }
  .example__cost {
    width: 192px;
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    line-height: 28px;
    text-align: right; } }

@media (min-width: 1300px) {
  .example__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .example__wrapper {
    width: 470px; }
  .example__results {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 0; }
  .example__cost {
    width: 100%;
    margin-top: 50px;
    text-align: left; }
  .example__cost span {
    padding-left: 65px; } }

.results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style: none; }

.results__item {
  position: relative;
  min-width: 124px;
  min-height: 56px;
  padding-top: 13px;
  text-align: center;
  border: 1px solid #cdcdcd; }

.results__value {
  font-size: 24px;
  line-height: 24px;
  font-family: "Oswald", "Arial", "Helvetica", sans-serif;
  color: #111111;
  text-transform: uppercase; }

.results__desc-value {
  position: absolute;
  bottom: -16px;
  left: 50%;
  display: block;
  width: 87px;
  margin: 0 auto;
  padding: 0 15px;
  font-size: 12px;
  line-height: 12px;
  background: #f2f2f2;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

@media (min-width: 768px) {
  .results {
    width: 365px; }
  .results__item {
    min-width: 162px;
    min-height: 72px;
    padding-top: 15px; }
  .results__value {
    font-size: 30px;
    line-height: 37px; }
  .results__desc-value {
    bottom: -5px;
    min-width: 145px;
    padding: 0 8px;
    font-size: 14px;
    line-height: 14px;
    background: #ffffff; } }

.slider__wrapper {
  position: relative;
  width: 100%;
  height: 232px;
  margin-right: auto;
  margin-bottom: 40px;
  margin-left: auto; }

.slider__image {
  position: absolute;
  left: 50%;
  background-repeat: no-repeat;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%); }

.slider__image--after {
  opacity: 0; }

.slider__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.slider__button--prev {
  margin-left: auto; }

.slider__button--next {
  margin-right: auto; }

.slider__range {
  -ms-flex-item-align: center;
      align-self: center;
  width: 84px;
  height: 14px;
  margin-right: 18px;
  margin-left: 18px;
  padding: 3px 5px;
  background: #ffffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px; }

.slider__progress {
  width: 40%;
  height: 100%;
  background-color: #68b738;
  border-radius: 3px; }

@media (min-width: 768px) {
  .slider {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    min-height: 631px; }
  .slider__wrapper {
    height: 517px; }
  .slider__image {
    width: 100%;
    height: auto; }
  .slider__image--before {
    max-width: 619px;
    clip: rect(auto, 310px, auto, auto); }
  .slider__image--after {
    max-width: 690px;
    opacity: 1;
    clip: rect(auto, auto, auto, 345px); }
  .slider__nav {
    width: 100%;
    margin-top: auto; }
  .slider__range {
    -ms-flex-item-align: center;
        align-self: center;
    width: 428px;
    height: 6px;
    margin-right: 24px;
    margin-left: 24px;
    padding: 0;
    background: #dcdcdc;
    border: 1px solid #cdcdcd;
    border-radius: 2.5px; }
  .slider__progress {
    position: relative;
    width: 50%;
    background: none; }
  .slider__toggle {
    position: absolute;
    top: -15px;
    right: 0;
    width: 34px;
    height: 34px;
    background-color: #68b738;
    border: 13px solid #eaeaea;
    border-radius: 50%;
    -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    cursor: pointer; } }

@media (min-width: 1300px) {
  .slider__image--after {
    clip: rect(auto, auto, auto, 309px); }
  .slider__nav {
    margin-top: 0; } }

.catalog-list {
  margin: 0;
  padding: 0;
  list-style: none; }

.catalog-list__item {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed; }

@media (min-width: 768px) {
  .catalog-list__item {
    border: none; } }

.catalog__container {
  padding-top: 22px; }

.catalog__title {
  margin-bottom: 22px; }

@media (min-width: 768px) {
  .catalog__title {
    margin-bottom: 156px; }
  .catalog__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  .catalog__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 324px;
    min-height: 431px;
    margin-bottom: 140px;
    border: none; } }

@media (min-width: 768px) {
  .catalog__item {
    width: 245px; } }

.product {
  padding-bottom: 25px; }

.product__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product__image {
  width: 140px;
  height: 144px; }

.product__desc {
  width: 100%; }

.product__title {
  width: 80px;
  margin-bottom: 18px;
  padding-top: 25px; }

.product__table {
  margin-bottom: 23px; }

@media (min-width: 768px) {
  .product {
    position: relative;
    width: 100%;
    padding: 165px 35px 40px 35px;
    background-color: #f2f2f2; }
  .product__image {
    position: absolute;
    left: 50%;
    width: 100%;
    height: auto;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }
  .product__image--small {
    top: -50px; }
  .product__image--big {
    top: -80px; }
  .product__title {
    width: 125px;
    margin: 0 auto 28px;
    text-align: center; } }

.table {
  width: 100%;
  border-collapse: collapse; }

.table--product {
  font-size: 12px;
  line-height: 16px; }

.table--additional {
  font-size: 14px;
  line-height: 14px; }

.table__col:first-child {
  text-align: left; }

.table__col:last-child {
  text-align: right; }

@media (min-width: 768px) {
  .table--product {
    font-size: 16px; }
  .table--product .table__col {
    padding: 5px 0;
    border-bottom: 1px solid #cdcdcd; } }

.product-more {
  min-height: 210px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center; }

.product-more__title {
  position: relative;
  margin-bottom: 10px;
  padding-top: 55px; }
  .product-more__title::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    width: 31px;
    height: 31px;
    background: url("../img/icon-plus-mobile.svg") no-repeat center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.product-more__subtitle {
  display: block;
  margin-bottom: 22px;
  font-size: 12px;
  line-height: 16px; }

@media (min-width: 768px) {
  .product-more {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 55px 37px 40px;
    border: 1px solid #cdcdcd; }
  .product-more__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 100%; }
  .product-more__title {
    width: 135px;
    margin-right: auto;
    margin-bottom: 28px;
    margin-left: auto;
    padding-top: 115px; }
    .product-more__title::before {
      width: 61px;
      height: 61px;
      opacity: 0.2; }
  .product-more__subtitle {
    width: 170px;
    margin: 0 auto;
    font-size: 16px; }
  .product-more__button {
    margin-top: auto; } }

.additional__container {
  padding-top: 30px; }

.additional__list {
  margin-bottom: 40px; }

.additional__title {
  margin-bottom: 30px; }

@media (min-width: 1300px) {
  .additional__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; }
  .additional__list {
    width: 100%;
    margin-right: 80px; } }

.additional-product {
  padding-top: 15px;
  padding-bottom: 15px; }

.additional-product__title {
  margin-bottom: 15px; }

.additional-product__wrapper {
  margin-bottom: 15px; }

@media (min-width: 768px) {
  .additional-product {
    padding: 25px 35px;
    border: 1px solid rgba(205, 205, 205, 0.5); }
  .additional-product__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 25px; }
  .additional-product__title {
    margin-bottom: 0; }
  .additional-product__table {
    width: 290px;
    margin-left: auto; }
  .additional-product__table .table__col {
    text-align: right; }
  .additional-product__table .table__col:last-child {
    width: 95px; } }

@media (min-width: 1300px) {
  .additional-product {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 15px 0;
    border-right: none;
    border-left: none; }
  .additional-product__wrapper {
    width: 100%;
    margin: 0; }
  .additional-product__title {
    margin-right: auto; }
  .additional-product__table {
    margin-right: 40px; }
  .additional-product__button {
    width: 245px; } }

.promo {
  position: relative;
  min-height: 289px;
  padding: 65px 55px 40px;
  background: #68b738 url("../img/gift-photo-mobile@1x.jpg") no-repeat top center/cover; }
  .promo::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 56px;
    height: 61px;
    background: url("../../img/icon-gift.svg") no-repeat center center;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%); }

.promo__text {
  position: relative;
  display: block;
  margin: 0;
  padding-top: 120px;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #ffffff; }

@media (min-width: 768px) {
  .promo {
    min-height: 200px;
    padding: 75px 100px 69px 91px;
    background: #68b738 url("../img/gift-photo-tablet@1x.jpg") no-repeat top center/cover; }
    .promo::before {
      left: 91px; }
  .promo__text {
    width: 180px;
    margin-left: auto;
    padding-top: 0;
    text-align: left; } }

@media (min-width: 1300px) {
  .promo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 289px;
    padding: 65px 40px 40px;
    background: #68b738 url("../img/gift-photo-desktop@1x.jpg") no-repeat top center/cover; }
    .promo::before {
      left: 50%; }
  .promo__text {
    margin-top: auto;
    text-align: center; } }

.form-main {
  font-family: "Oswald", "Arial", "Helvetica", sans-serif; }

.form-main__container {
  padding: 0; }

.form-main__title {
  margin-bottom: 30px;
  padding: 0 20px; }

.form-main__subtitle {
  text-transform: uppercase;
  margin-bottom: 35px;
  padding: 0 20px; }

.form-group {
  margin: 0;
  padding: 20px;
  border: none; }

.form-group__title {
  margin-bottom: 30px; }

.form-group__list {
  margin: 0;
  padding: 0;
  list-style: none; }

.form-group__item {
  margin-bottom: 13px; }

.input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 16px;
  line-height: 18px;
  color: #222222; }

.input__text {
  width: 100%;
  margin-left: 15px;
  padding: 13px 16px 14px;
  font: inherit;
  color: #444444;
  border: 1px solid rgba(205, 205, 205, 0.5); }
  .input__text:hover {
    border: 1px solid #cdcdcd; }
  .input__text:focus, .input__text:active {
    border: 1px solid #444444; }
  .input__text:invalid {
    border: 1px solid #ff8282; }

.input__text--area {
  height: 150px;
  margin: 0;
  resize: none; }

.radio {
  margin-bottom: 26px;
  font-size: 16px;
  color: #222222;
  text-transform: uppercase; }

.radio__label {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 50px; }

.radio__label::before {
  content: "";
  position: absolute;
  left: 0;
  width: 30px;
  height: 30px;
  border: 1px solid #cdcdcd;
  border-radius: 50%; }

input[type="radio"]:checked ~ .radio__label::after {
  content: "";
  position: absolute;
  bottom: 15%;
  left: 3%;
  width: 12px;
  height: 12px;
  border: 6px solid #68b738;
  border-radius: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg); }

input[type="radio"]:disabled ~ .radio__label {
  opacity: 0.3; }

.radio:hover .radio__label::before,
.radio:focus .radio__label::before {
  border-color: #bababa; }

.radio-list__item {
  margin-bottom: 30px; }

/*# sourceMappingURL=style.css.map */
