$main-bg: #ffffff;
$other-bg: #f2f2f2;

$main-text-color: #444444;
$title-color: #111111;

$menu-color--onbg: #ffffff;
$menu-color: $title-color;

$special-color: #68b738;

$main-button-color: #ffffff;
$main-button-bg: $special-color;
$main-button-bg--hover: #5eaa2f;
$other-button-color: $main-text-color;
$other-button-bg: $other-bg;
$other-button-bg--hover: #ebebeb;
$button-link-color: #111111;

$label-color: #222222;

$input-color--hover: #cdcdcd;
$input-color--active: #444444;
$input-color--error: #ff8282;
$input-color: rgba($input-color--hover, 0.5);

$radio-color: $input-color--hover;
$radio-color--hover: #bababa;

$checkbox-color: $input-color--hover;
$checkbox-color--hover: #bababa;
