$main-text-color: #444444;
$title-color: #111111;

$menu-color--onbg: #ffffff;
$menu-color: #111111;

$special-color: #68b738;

$main-button-color: $special-color;
$main-button-color--hover: #5eaa2f;
$other-button-color: #f2f2f2;
$other-button-color--hover: #ebebeb;

$label-color: #222222;

$input-color--hover: #cdcdcd;
$input-color--active: #444444;
$input-color--error: #ff8282;
$input-color: rgba($input-color--hover, 0.5);

$radio-color: $input-color--hover;
$radio-color--hover: #bababa;

$checkbox-color: $input-color--hover;
$checkbox-color--hover: #bababa;
