@font-face {
  font-style: normal;
  font-weight: 400;
  font-family: "Oswald";

  src: url("../fonts/oswaldregular.woff2");
  src: local("Oswald"), url("../fonts/oswaldregular.woff") format("woff");
}
