$mobile-width: 320px;
$tablet-width: 768px;
$desctop-width: 1300px;

.container {
  width: 100%;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

@media (min-width: $tablet-width) {
  .container {
    min-width: $tablet-width;
    padding-right: 30px;
    padding-left: 30px;
  }
}

@media (min-width: $desctop-width) {
  .container {
    max-width: $desctop-width;
  }
}
